{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center mb-4">Crear Nueva Habitación</h2>

    <form method="post">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="numero">Número de Habitación</label>
        <input type="text" class="form-control" id="numero" name="numero" required>
      </div>
      <div class="form-group mb-3">
        <label for="capacidad">Capacidad</label>
        <input type="number" class="form-control" id="capacidad" name="capacidad" required>
      </div>
      <div class="form-group mb-3">
        <label for="orientacion">Orientación</label>
        <select class="form-control" id="orientacion" name="orientacion" required>
          <option value="Norte">Norte</option>
          <option value="Sur">Sur</option>
          <option value="Este">Este</option>
          <option value="Oeste">Oeste</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
{% endblock %}
