{% extends 'base.html' %}

{% block title %}Listado de Habitaciones{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Lista de Habitaciones</h2>
        <a href="{% url 'habitacion-create' %}" class="btn btn-success mb-3">Agregar Nueva Habitación</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Capacidad</th>
                    <th>Orientación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in object_list %}
                    <tr>
                        <td>{{ habitacion.numero }}</td>
                        <td>{{ habitacion.capacidad }}</td>
                        <td>{{ habitacion.orientacion }}</td>
                        <td>
                            <a href="{% url 'habitacion-edit' habitacion.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'habitacion-delete' habitacion.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
