{% extends 'base.html' %}

{% block title %}Crear Nuevo Pasajero{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Crear Nuevo Pasajero</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_nombre" class="form-label">Nombre del Pasajero</label>
                <input type="text" name="nombre" class="form-control" id="id_nombre" required>
            </div>
            <div class="mb-3">
                <label for="id_rut" class="form-label">RUT del Pasajero</label>
                <input type="text" name="rut" class="form-control" id="id_rut" required>
            </div>
            <button type="submit" class="btn btn-success">Crear Pasajero</button>
        </form>
    </div>
{% endblock %}
