{% extends 'base.html' %}

{% block title %}Listado de Pasajeros{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Lista de Pasajeros</h2>
        <a href="{% url 'pasajero-create' %}" class="btn btn-success mb-3">Agregar Nuevo Pasajero</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pasajero in object_list %}
                    <tr>
                        <td>{{ pasajero.nombre }}</td>
                        <td>{{ pasajero.rut }}</td>
                        <td>
                            <a href="{% url 'pasajero-edit' pasajero.pk %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'pasajero-delete' pasajero.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
